body {
    font-family: Arial, sans-serif;
    background-color: white;
    padding: 150px;
    margin: 0;
}
.resume-container {
    display: flex;
    background-color: black;
    width: 80%;
    margin: 0 , auto;
    border-radius: 10px;
    box-shadow: yellow;
}
/* left-section styling */
.left-section {
    background-color: black;
    color: white;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px solid yellow;
    border-left: 5px solid yellow;
    border-top: 5px solid yellow;
    border-bottom: 5px solid yellow;
}
.profile-picture {
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid yellow;
    margin-bottom: 20px;
}
h1 {
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}
h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px yellow;
    margin-top: 5%;
    margin-bottom: 5%;

}
ul {
    list-style-type: fill round;
    padding: 3;
    margin: 10px 0;

}
ul li {
    margin: 5px 0;
    
}
/* right-section-sytyling */
.right-section {
    padding: 20px;
    width: 65%;
    color: white;
}
button {
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px yellow;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}
button:hover {
    background-color: yellow;
}
